.contenedor__textos{
  width: 70%;
  text-align: center;
  overflow-wrap: break-word;
}
.contenedor__textos .parrafo{
  padding: 0 10%;
}

.contenedor__titulo{
  font-size: 5rem;
  width: 100%;
}
.contenedor__parrafo{
  font-size: 1.5rem;
  width: 100%;
}

.boton-principal{
  display: flex;
  text-decoration: none;
  padding:12px;
  width: 280px;
  cursor: pointer;
  border: none;
  background-color: var(--color3);
  color: #fff;
  border-radius: 30px;
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
}
.boton-principal:hover {
  background-color: var(--color4);
}

.contenedor__imagen{
  border-radius: 50%;
}

.contenedor__cards{
  display: flex;
  width: 100%;
  margin-top: 50px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-simple{
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}
.card-simple__imagen{
  width: 300px;
  height: 300px;
}
.contenedor__subtitulo{
  text-align: center;
  font-size: 2rem;
}
.contenedor__parrafo-pequeño{
  text-align: center;
  font-size: 1.2rem;
}

.circulo-info{
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 8px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circulo-info__titulo{
  font-size: 4rem;
}

.contenedor-about__card{
  display: flex;
  padding: 0 70px;
  gap: 3rem;
}

.contenedor-about__card div{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 0 20px;
}
.contenedor-about__card .contenedor__titulo,
.contenedor-about__card .contenedor__parrafo {
  text-align: start;
}

.contenedor-about__imagen{
  width: 550px;
  height: 550px;
  min-width: 550px;
}