.piepagina{
   width: 100%;
   height: auto;
   background-color: var(--color-piepagina);
   padding: 40px;
   color: var(--color5);
   display: grid;
   grid-template-columns: 40vw repeat(3, 1fr);
   gap: 2rem;
}


.piepagina__detalles {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.6rem;
}

.detalles__titulo {
    font-size: 1.5vw;
    font-weight: 500;
}

.detalles__texto, .detalles__link {
    font-size: 1vw;
}

.detalles__link {
    color: var(--color-letra-link);
    text-decoration: none;
    transition: color 0.3s ease;
}

.detalles__link:hover {
    color: var(--hover-link);
}

.sociales {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.sociales__link {
    background-color: var(--fondo-redes);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
}

.sociales__link:hover {
    opacity: 0.5;
}

.sociales__link img {
    width: 25px;
    height: 25px;
}