@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(variables.css);
@import url(header.css);
@import url(contenedores.css);
@import url(footer.css);

/* ESTRUCTURA */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.principal{
  display: flex;
  flex-direction: column;
  transition: 0.5s;
}

.contenedor{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 80px;
  background-size: cover;
  background-position:center;
  color: var(--color5);
  transition: 0.5s;
}



/* CONTENEDORES */

.contenedor-principal{
  background-image: var(--img1), linear-gradient(var(--color-principal), var(--color-principal));
  background-position: center -10vw;
  background-blend-mode: multiply;
}
.contenedor-productos{
  background-image: var(--fondo-manchas);
  background-color: var(--color-secundario);
  background-position: top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  
}
.contenedor-estadisticas{
  background-image: var(--img2), linear-gradient(var(--color3), var(--color3));
  background-blend-mode: multiply;
}
.contenedor-about{
  background-color: var(--color-principal);
  background-repeat: no-repeat;
  background-image: var(--fondo-formas);
  background-size: 80% 80%;
}
.contenedor-about--color{
  background-color: var(--color-secundario);
}
.contenedor-precios{
  background-color: var(--color-principal);
}
.contenedor-detalles{
  background-color: var(--color-secundario);
  background-image: var(--fondo-mancha);
  background-repeat: no-repeat;
  background-size: 105% 120%;
  background-position: bottom -8vw;
}
.contenedor-final{
  background-image: var(--img3), linear-gradient(var(--color3), var(--color3));
  background-blend-mode: multiply;
}


/* Responsiva */


@media (max-width: 800px) {

  .encabezado{
    height: 100px;
  }
  .encabezado__link{
    display: none;
  }

  .encabezado__link--circular{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--color5);
    font-size: 2rem;
    padding: 20px;
    font-weight: 500;
    height: 60px;
    min-width: 60px;
    width: 60px;
    border-radius: 50%;
    margin-left: 15px;
  }

  .contenedor{
    height: auto;
    padding: 100px 50px;
  }

  .contenedor-principal, 
  .contenedor-final{
    height: 100vh;
    background-position: bottom;
  }

  .contenedor-principal{
    background-position: center;
  }
  .contenedor__textos{
    width: 90%;
  }
  .contenedor__titulo{
    font-size: 8vw;
  }
  .contenedor__subtitulo, .circulo-info__titulo{
    font-size: 5vw;
  }
  .contenedor__parrafo,
  .detalles__titulo{
    font-size: 3vw;
  }
  .contenedor__parrafo-pequeño,
  .detalles__texto,
  .detalles__link,
  .boton-principal{
    font-size: 2.5vw;
  }
  
  .boton-principal{
    width: 25vw;
  }
  .card-simple{
    width: 40vw;
  }
  .card-simple__imagen{
    width: 28vw;
    height: 28vw;
  }

  .circulo-info{
    width: 24vw;
    height: 24vw;
  }
  .contenedor-about__card .contenedor__titulo,
  .contenedor-about__card .contenedor__parrafo {
    text-align: center;
  }

  .contenedor-about__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0 40px;
  }
  .contenedor-about__imagen {
    width: 50vw;
    height: 50vw;
  }
  .contenedor-about__card div{
    align-items: center;
  }

  .contenedor__cards{
    flex-direction:column;
    align-items: center;
  }

  .card{
    width: 50vw;
  }

  .contenedor-detalles__grid {
    grid-template-columns: 1fr;
    gap: 10px;
    grid-auto-rows: 20vw;
  }
  .contenedor__parrafo-grande{
    font-size: 5vw;
  }
  .piepagina {
    grid-template-columns: repeat(2, 1fr);
  }
  .piepagina__detalles{
    gap: 1rem;
  }
} 