@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ESTRUCTURA */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.encabezado{
  width: 100%;
  height: 100px;
  background-color: var(--color-principal);
  opacity: 0.8;
  position: fixed;
  top: 0;
  display: flex;
  padding: 10px 20px;
}

.principal{
  display: flex;
  flex-direction: column;
}

.contenedor{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 30px;
  background-size: cover;
}

.piepagina{
  width: 100%;
  height: auto;
  background-color: var(--color-piepagina);
  padding: 25px 20px 30px;
}

/* CONTENEDORES */

.contenedor-principal{
  background-image: var(--img1), linear-gradient(var(--color-principal), var(--color-principal));
  background-position: center -180px;
  background-blend-mode: multiply;

}
.contenedor-productos{
  background-image: var(--fondo-manchas);
  background-color: var(--color-secundario);
  background-position: top center;
}
.contenedor-estadisticas{
  background-image: var(--img2), linear-gradient(var(--color3), var(--color3));
  background-blend-mode: multiply;
}
.contenedor-about{
  background-color: var(--color-principal);
}
.contenedor-about--color{
  background-color: var(--color-secundario);
}
.contenedor-precios{
  background-color: var(--color-principal);
}
.contenedor-detalles{
  background-color: var(--color-secundario);
}
.contenedor-final{
  background-image: var(--img3), linear-gradient(var(--color3), var(--color3));
  background-blend-mode: multiply;
}

/* jeffer */
.contenedor-precios{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  background-color: #4ca4da;
  padding:  30px;
}

.titulo_precios{
  text-align: center;
  margin-bottom: 30px;
  padding-top: 110px;
}

.titulo_precios h4{
  font-size: 56px;
  color: #fff;
}

.titulo_precios p{
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
  max-width: 600px;
}

.card{
  background-color: #fff;
  border-radius: 7px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 32%;
  margin: 10px;
  color: var(--color-titulo-premium);
}

.cards{
  display: flex;
  width: 1000px;
}

.precio {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
  color: #4ca4da;
}

.descripcion {
  font-size: 14px;
  color: #666;
  color: #4ca4da;
}

.boton {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #ffa800;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.boton:hover {
  background-color: #e69500;
}