:root{
  --color-principal: #5380c1;
  --color-principal-transparente: rgba(83, 129, 193, 0.6);
  --color-secundario: #739ee3;
  --boton:#edc315;
  --color3: #edc315;
  --hover-boton:#e69500;
  --color5: #fff;
  --color-piepagina: #343434;
  --img1:url(../IMG/imagen-grande.png);
  --img2: url(../IMG/Imagen-secundaria.png);
  --img3: url(../IMG/Imagen-terciaria.png);
  --fondo-formas: url(../IMG/fondo-formas.png);
  --fondo-manchas: url(../IMG/fondo-manchas.png);
  --fondo-mancha: url(../IMG/fondo-mancha.png);
  --color-titulos: white;
  --fondo-cards:white;
  --color-letra-link:#cccccc;
  --hover-link: white;
  --fondo-redes:white;
}